h1{
    font-size: 100px;
    font-style: italic;
    color: rgb(123, 27, 43);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    
}